# 2b

In [20]:
import numpy as np
import pandas as pd

In [21]:
mvps_df = pd.read_csv("datasets/mvps.csv", ';')
nicknames_df = pd.read_csv("datasets/nicknames.csv", ';')
salaries_df = pd.read_csv("datasets/salaries.csv")
teams_2b = pd.read_csv("datasets/teams.csv", ';')

C:\Users\imman\AppData\Local\Temp\ipykernel_22632\786093204.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  mvps_df = pd.read_csv("datasets/mvps.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_22632\786093204.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nicknames_df = pd.read_csv("datasets/nicknames.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_22632\786093204.py:4: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  teams_2b = pd.read_csv("datasets/teams.csv", ';')

In [28]:
def dataframe_to_dict(nicknames_df, key_column_name='Name', value_column_name='Abbreviation'):
    keys = nicknames_df[key_column_name]
    values = nicknames_df[value_column_name]
    return dict(zip(keys, values))

dataframe_to_dict(nicknames_df)

{'Atlanta Hawks': 'ATL',
 'Brooklyn Nets': 'BKN',
 'Boston Celtics': 'BOS',
 'Charlotte Bobcats': 'CHA',
 'Charlotte Hornets': 'CHO',
 'Chicago Bulls': 'CHI',
 'Cleveland Cavaliers': 'CLE',
 'Dallas Mavericks': 'DAL',
 'Denver Nuggets': 'DEN',
 'Detroit Pistons': 'DET',
 'Golden State Warriors': 'GSW',
 'Houston Rockets': 'HOU',
 'Indiana Pacers': 'IND',
 'Los Angeles Clippers': 'LAC',
 'Los Angeles Lakers': 'LAL',
 'Memphis Grizzlies': 'MEM',
 'Miami Heat': 'MIA',
 'Milwaukee Bucks': 'MIL',
 'Minnesota Timberwolves': 'MIN',
 'New Jersey Nets': 'NJN',
 'New Orleans Hornets': 'NOH',
 'New Orleans Pelicans': 'NOP',
 'New Orleans/Oklahoma City Hornets': 'NOK',
 'New York Knicks': 'NYK',
 'Oklahoma City Thunder': 'OKC',
 'Orlando Magic': 'ORL',
 'Philadelphia 76ers': 'PHI',
 'Phoenix Suns': 'PHO',
 'Portland Trail Blazers': 'POR',
 'Seattle SuperSonics': 'SEA',
 'Sacramento Kings': 'SAC',
 'San Antonio Spurs': 'SAS',
 'Toronto Raptors': 'TOR',
 'Utah Jazz': 'UTA',
 'Vancouver Grizzlies': 'VAN',
 'Washington Wizards': 'WAS',
 'Washington Bullets': 'WSB'}

In [23]:
def cleaning_teamsdf_removeUnimportantRows(teams_2b):
    teams_2b = teams_2b.copy()
    important_rows = ~teams_2b.W.str.contains("Division")
    return teams_2b[important_rows]

def cleaning_teamsdf_convertStripToNan(teams_2b):
    teams_2b = teams_2b.copy()
    teams_2b.GB = teams_2b.GB.replace("—", np.NAN)
    return teams_2b

def cleaning_teamsdf_convertToAppropriateDatatype(teams_2b):
    """
    preconditions:
        cleaning_teamsdf_removeUnimportantRows
         cleaning_teamsdf_convertStripToNan
    """
    teams_2b = teams_2b.copy()
    teams_2b.W = pd.to_numeric(teams_2b.W)
    teams_2b.L = pd.to_numeric(teams_2b.L)
    teams_2b['W/L%'] = pd.to_numeric(teams_2b['W/L%'])
    teams_2b.GB = pd.to_numeric(teams_2b.GB)
    teams_2b['PS/G'] = pd.to_numeric(teams_2b['PS/G'])
    teams_2b['PA/G'] = pd.to_numeric(teams_2b['PA/G'])
    teams_2b.SRS = pd.to_numeric(teams_2b.SRS)
    return teams_2b

In [24]:
teams_2b = cleaning_teamsdf_removeUnimportantRows(teams_2b)
teams_2b = cleaning_teamsdf_convertStripToNan(teams_2b)
teams_2b = cleaning_teamsdf_convertToAppropriateDatatype(teams_2b)
teams_2b

       W   L   W/L%    GB   PS/G   PA/G   SRS  Year                  Team
0     56  26  683.0   NaN  111.5  105.7  5.22  1991       Boston Celtics*
1     44  38  537.0  12.0  105.4  105.6 -0.39  1991   Philadelphia 76ers*
2     39  43  476.0  17.0  103.1  103.3 -0.43  1991      New York Knicks*
3     30  52  366.0  26.0  101.4  106.4 -4.84  1991    Washington Bullets
4     26  56  317.0  30.0  102.9  107.5 -4.53  1991       New Jersey Nets
...   ..  ..    ...   ...    ...    ...   ...   ...                   ...
1028  42  30  583.0   NaN  112.4  110.2  2.26  2021     Dallas Mavericks*
1029  38  34  528.0   4.0  113.3  112.3  1.07  2021    Memphis Grizzlies*
1030  33  39  458.0   9.0  111.1  112.8 -1.58  2021     San Antonio Spurs
1031  31  41  431.0  11.0  114.6  114.9 -0.20  2021  New Orleans Pelicans
1032  17  55  236.0  25.0  108.8  116.7 -7.50  2021       Houston Rockets

[906 rows x 9 columns]

In [25]:
teams_2b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 906 entries, 0 to 1032
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       906 non-null    int64
 1   L       906 non-null    int64
 2   W/L%    906 non-null    float64
 3   GB      738 non-null    float64
 4   PS/G    906 non-null    float64
 5   PA/G    906 non-null    float64
 6   SRS     906 non-null    float64
 7   Year    906 non-null    int64
 8   Team    906 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 70.8+ KB