In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr

# Data Understanding

In [ ]:
mvps_df = pd.read_csv("datasets/mvps.csv", ';')
nicknames_df = pd.read_csv("datasets/nicknames.csv", ';')
player_mvp_stats_df = pd.read_csv("datasets/player_mvp_stats.csv", ';')
players_df = pd.read_csv("datasets/players.csv", ';')
salaries_df = pd.read_csv("datasets/salaries.csv")
teams_df = pd.read_csv("datasets/teams.csv", ';')

Rank : urutan ranking mvp pada periode tahun berikut

Tm : Tim dari player

First : First Place Votes

Pts Won : Points Won

Pts Max : Max points

Share : Points Share

G : Games Played

MP : avg minutes per game

PTS : avg point per game

TRB : avg total rebound per game

AST : avg total assists per game

STL : avg steal per game

BLK : avg block per game

In [ ]:
display_cnt = 15
def display_both_head_and_tail(dataset):
    return dataset.head(display_cnt).append(dataset.tail(display_cnt))

In [ ]:
def cek_missing_values(df):
    col_na = df.isnull().sum().sort_values(ascending=False)
    percent = col_na / len(df)
    
    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data[missing_data['Total'] > 0]

Dataset mvps

In [ ]:
display_both_head_and_tail(mvps_df)

In [ ]:
mvps_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset mvps")
cek_missing_values(mvps_df)

In [ ]:
print("Jumlah duplikasi data pada dataset mvps:", mvps_df.duplicated().sum())

Dataset nicknames

In [ ]:
display_both_head_and_tail(nicknames_df)

In [ ]:
nicknames_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset nicknames")
cek_missing_values(nicknames_df)

In [ ]:
print("Jumlah duplikasi data pada dataset nicknames:", nicknames_df.duplicated().sum())

Dataset player mvp stats

In [ ]:
display_both_head_and_tail(player_mvp_stats_df)

In [ ]:
display_both_head_and_tail(player_mvp_stats_df)
player_mvp_stats_df.isna().sum()
salaries_by_year = (player_mvp_stats_df['FG'] - (player_mvp_stats_df['2P'] + player_mvp_stats_df['3P'])) > 0.100001
player_mvp_stats_df[salaries_by_year]

In [ ]:
player_mvp_stats_df.info()

In [ ]:
print("Terdapat missing values pada dataset player mvp stats")
cek_missing_values(player_mvp_stats_df)

In [ ]:
print("Missing values tersebut diisi dengan median setiap atribut")

player_mvp_stats_df["3P%"].fillna(player_mvp_stats_df["3P%"].median(), inplace=True)
player_mvp_stats_df["FT%"].fillna(player_mvp_stats_df["FT%"].median(), inplace=True)
player_mvp_stats_df["2P%"].fillna(player_mvp_stats_df["2P%"].median(), inplace=True)
player_mvp_stats_df["eFG%"].fillna(player_mvp_stats_df["eFG%"].median(), inplace=True)
player_mvp_stats_df["FG%"].fillna(player_mvp_stats_df["FG%"].median(), inplace=True)

In [ ]:
print("Sudah tidak ada missing value pada dataset palyer mvp stats")
cek_missing_values(player_mvp_stats_df)

In [ ]:
print("Jumlah duplikasi data pada dataset palyer mvp stats:", player_mvp_stats_df.duplicated().sum())

Dataset players

In [ ]:
display_both_head_and_tail(players_df)

In [ ]:
players_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset players")
cek_missing_values(players_df)

In [ ]:
print("Jumlah duplikasi data pada dataset mvps:", players_df.duplicated().sum(), "maka lakukan drop data terlebih dahulu")

players_df = players_df.drop_duplicates(inplace = False)
print("Jumlah duplikasi data setelah drop duplikasinya:", players_df.duplicated().sum())

Dataset salaries

In [ ]:
display_both_head_and_tail(salaries_df)

In [ ]:
salaries_df.info()

In [ ]:
print("Terdapat missing values pada dataset salaries")
cek_missing_values(salaries_df)

In [ ]:
print("Missing values tersebut diisi dengan median setiap atribut")

salaries_df.Salaries.fillna(salaries_df.Salaries.median(), inplace=True)

In [ ]:
print("Sudah tidak ada missing value pada dataset salaries")
cek_missing_values(salaries_df)

Dataset teams

In [ ]:
display_both_head_and_tail(teams_df)

In [ ]:
teams_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset teams")
cek_missing_values(teams_df)

In [ ]:
print("Jumlah duplikasi data pada dataset teams:", teams_df.duplicated().sum())

In [ ]:
teams_df = teams_df[~teams_df["W"].str.contains("Division")]

teams_df["Team"] = teams_df["Team"].str.replace("*", "", regex=False)

#Menghilangkan tanda * pada nama teams

In [ ]:
import seaborn as sb
import matplotlib.pyplot as plt

plt.figure(figsize=(30,30))

dataplot = sb.heatmap(mvps_df.corr(), cmap="YlGnBu", annot=True, )
  
# displaying heatmap
plt.show()

In [ ]:
mvps_df["is_mvp"] = ''
display(mvps_df)

In [ ]:
mvps_df.loc[mvps_df["Rank"] == "1", "is_mvp"] = 1
mvps_df.loc[mvps_df["Rank"] != "1", "is_mvp"] = 0
display(mvps_df)

In [ ]:
mvps_df.info()

In [ ]:
X_raw = mvps_df.drop(["Rank", "Player", "Tm"],axis=1)
lst_column = X_raw.columns
y = mvps_df["is_mvp"]
X_raw = X_raw.drop(["is_mvp"],axis=1)

display(lst_column)

In [ ]:
from scipy.stats import pearsonr

for i in lst_column :
    if i != "is_mvp" :
        corr, _ = pearsonr(mvps_df[i], mvps_df["is_mvp"])
        if corr > 0.1 :
            print(i + " : " + str(corr))

Dengan melihat korelasi di atas diketahui bahwa terdapat 6 variable yang dapat menjadi faktor pemain menjadi MVP, yaitu First, Pts Won, Share, PTS, WS, WS/48

In [ ]:
rank_one = mvps_df.loc[mvps_df['Rank'] == '1']
display(rank_one.head())

In [ ]:
rank_one[['First', 'Pts Won', 'Share', 'PTS', 'WS', 'WS/48']].describe()

In [ ]:
df_salaries_year = salaries_df.groupby("Year")["Salaries"].mean().reset_index()
df_salaries_year = df_salaries_year.astype({"Year":'category'})

In [ ]:
axes = plt.gca()
df_salaries_year.set_index('Year', inplace=True)
df_salaries_year.plot(kind="line", y="Salaries", ax=axes)

Dengan melihat grafik di atas diketahui bahwa secara garis besar terdapat perumbuhan gaji dari 2000 - 2019. Pertumbuhan gaji naik secara signifikan pada rentang 2015 - 2019

# 1c

In [ ]:
display(teams_df.head())

In [ ]:
display(players_df)

In [ ]:
temp_player_df = players_df.copy()
temp_player_df = temp_player_df.drop(["Rk", "Player", "Pos"],axis=1)
lst_column_temp_player = temp_player_df.columns


for i in lst_column_temp_player :
    if i != "Tm" :
        temp_player_df[i] = pd.to_numeric(temp_player_df[i], errors='coerce')

In [ ]:
data_player_groupby_team_and_year = temp_player_df.groupby(['Tm','Year']).mean().reset_index()
display(data_player_groupby_team_and_year.head())

In [ ]:
arr_init_name = nicknames_df['Abbreviation'].values

for i in arr_init_name : 
    val_real_team_name = nicknames_df['Name'].loc[nicknames_df['Abbreviation'] == i].values
    data_player_groupby_team_and_year.loc[data_player_groupby_team_and_year["Tm"] == i, "Tm"] = val_real_team_name[0]

In [ ]:
data_player_groupby_team_and_year.rename(columns = {'Tm':'Team' }, inplace = True)

teams_col = teams_df.columns
for i in teams_col :
    if i != "Team" :
        teams_df[i] = pd.to_numeric(teams_df[i], errors='coerce')

temp_teams = teams_df.groupby("Year").mean().reset_index()
year = temp_teams['Year'].values

d = {"score" : []}
temp_pd = pd.DataFrame(data = d)
for i in year :
    val =  temp_teams['GB'].loc[temp_teams['Year'] == i].values
    salaries_by_year = teams_df['GB'].loc[teams_df["Year"] == i].fillna(val[0])
    temp_pd = pd.concat([temp_pd, salaries_by_year])

# del temp_pd["score"]
teams_df["GB"] = temp_pd[0]
display(teams_df)

In [ ]:
new_data = pd.merge(data_player_groupby_team_and_year, teams_df)

In [ ]:
lst_column = new_data.columns

for i in lst_column :
    if i != "Team" and i != "Year" and i != "W":
        corr, _ = pearsonr(new_data[i], new_data["W"])
        gif corr > 0.1 :
            print(i + " : " + str(corr))

Dari hasil menggabungkan teams dan playerdata yang akhirnya mendapatkan banyak variable penilaian. Setelah dicek variable-variable yang ada dengan jumlah kemenangannya diketahui bahwa yang memiliki korelasi paling tinggi adalah dengan jumlah kemenangan adalah SRS (Simple Rating System). Namun, seperti yang kita ketahui bahwa SRS didapatkan dari persentase kemanangannya. Apabila dilihat dari komposisi pemainya beberapa varaibel yang bisa dijadikan acuan adalah  PS/G (passing per game), G (Game played), GS (Game started), FG% (Field Goal Percentage), 3P% (3 Point Field Goal Percentage), 2P% (2 Point Field Goal Percentage) dan eFG% (Effective Field Goal Percentage)

# nomor 2B

In [ ]:
salaries_2b = pd.read_csv("datasets/salaries.csv")

In [ ]:
salaries_by_year = salaries_2b.groupby(by="Year").mean()
plt.figure()

In [68]:
temp = salaries_2b.groupby(by="Year").mean()
temp

C:\Users\imman\AppData\Local\Temp\ipykernel_5556\468834091.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = salaries_2b.groupby(by="Year").mean()

      Unnamed: 0      Salaries        Rank
Year
2000       936.0  4.232653e+06  935.995724
2001      2807.0  3.304929e+06  935.976483
2002      4678.0  3.463517e+06  935.970069
2003      6549.0  3.702468e+06  935.978087
2004      8420.0  3.684160e+06  935.967397
2005     10291.0  3.773688e+06  935.963121
2006     12162.0  3.961305e+06  935.966328
2007     14033.0  3.917887e+06  935.964725
2008     15904.0  4.400601e+06  935.972742
2009     17775.0  4.692348e+06  935.973276
2010     19646.0  4.633963e+06  935.971673
2011     21517.0  4.413547e+06  935.977018
2012     23388.0  4.354508e+06  935.979690
2013     25259.0  4.274056e+06  935.973811
2014     27130.0  4.322504e+06  935.973276
2015     29001.0  4.293243e+06  935.965259
2016     30872.0  4.708117e+06  935.964190
2017     32743.0  5.442311e+06  935.963121
2018     34614.0  5.729243e+06  935.948691
2019     36485.0  7.010580e+06  935.967932