In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
mvps_df = pd.read_csv("datasets/mvps.csv", ';')
nicknames_df = pd.read_csv("datasets/nicknames.csv", ';')
player_mvp_stats_df = pd.read_csv("datasets/player_mvp_stats.csv", ';')
players_df = pd.read_csv("datasets/players.csv", ';')
salaries_df = pd.read_csv("datasets/salaries.csv")
teams_df = pd.read_csv("datasets/teams.csv", ';')

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\1178829162.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  mvps_df = pd.read_csv("datasets/mvps.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_27784\1178829162.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nicknames_df = pd.read_csv("datasets/nicknames.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_27784\1178829162.py:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  player_mvp_stats_df = pd.read_csv("datasets/player_mvp_stats.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_27784\1178829162.py:4: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  players_df = pd.read_csv("datasets/players.csv", ';')
C:\Users\imman\AppData\Local\Temp\ipykernel_27784\1178829162.py:6: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  teams_df = pd.read_csv("datasets/teams.csv", ';')

In [4]:
display_cnt = 15
def display_both_head_and_tail(dataset):
    return dataset.head(display_cnt).append(dataset.tail(display_cnt))

Rank : urutan ranking mvp pada periode tahun berikut
Tm : Tim dari player
First : First Place Votes
Pts Won : Points Won
Pts Max : Max points
Share : Points Share
G : Games Played
MP : avg minutes per game
PTS : avg point per game
TRB : avg total rebound per game
AST : avg total assists per game
STL : avg steal per game
BLK : avg block per game

In [5]:
display_both_head_and_tail(mvps_df)

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77,891,960,928.00,82,37.0,...,6.0,5.5,2.7,1.0,539.00,312.00,851.00,20.3,321.00,1991
1,2,Magic Johnson,31,LAL,10,497,960,518.00,79,37.1,...,7.0,12.5,1.3,0.2,477.00,0.32,906.00,15.4,251.00,1991
2,3,David Robinson,25,SAS,6,476,960,496.00,82,37.7,...,13.0,2.5,1.5,3.9,552.00,143.00,762.00,17.0,264.00,1991
3,4,Charles Barkley,27,PHI,2,222,960,231.00,67,37.3,...,10.1,4.2,1.6,0.5,0.57,284.00,722.00,13.4,258.00,1991
4,5,Karl Malone,27,UTA,0,142,960,148.00,82,40.3,...,11.8,3.3,1.1,1.0,527.00,286.00,0.77,15.5,225.00,1991
5,6,Clyde Drexler,28,POR,1,75,960,78.00,82,34.8,...,6.7,6.0,1.8,0.7,482.00,319.00,794.00,12.4,209.00,1991
6,7,Kevin Johnson,24,PHO,0,32,960,33.00,77,36.0,...,3.5,10.1,2.1,0.1,516.00,205.00,843.00,12.7,0.22,1991
7,8,Dominique Wilkins,31,ATL,0,29,960,0.03,81,38.0,...,9.0,3.3,1.5,0.8,0.47,341.00,829.00,11.4,177.00,1991
8,9T,Larry Bird,34,BOS,0,25,960,26.00,60,38.0,...,8.5,7.2,1.8,1.0,454.00,389.00,891.00,6.6,0.14,1991
9,9T,Terry Porter,27,POR,0,25,960,26.00,81,32.9,...,3.5,8.0,2.0,0.1,515.00,415.00,823.00,13.0,235.00,1991
10,11,Patrick Ewing,28,NYK,0,20,960,21.00,81,38.3,...,11.2,3.0,1.0,3.2,514.00,0.00,745.00,10.0,155.00,1991
11,12,John Stockton,28,UTA,0,15,960,16.00,82,37.8,...,2.9,14.2,2.9,0.2,507.00,345.00,836.00,14.0,217.00,1991
12,13,Isiah Thomas,29,DET,0,11,960,11.00,48,34.5,...,3.3,9.3,1.6,0.2,435.00,292.00,782.00,3.4,98.00,1991
13,14,Robert Parish,37,BOS,0,10,960,0.01,81,30.1,...,10.6,0.8,0.8,1.3,598.00,0.00,767.00,10.0,198.00,1991
14,15,Joe Dumars,27,DET,0,8,960,8.00,80,38.1,...,2.3,5.5,1.1,0.1,481.00,311.00,0.89,9.9,155.00,1991
459,1,Nikola Joki?,25,DEN,91,971,1010,961.00,72,34.6,...,10.8,8.3,1.3,0.7,566.00,388.00,868.00,15.6,301.00,2021
460,2,Joel Embiid,26,PHI,1,586,1010,0.58,51,31.1,...,10.6,2.8,1.0,1.4,513.00,377.00,859.00,8.8,266.00,2021
461,3,Stephen Curry,32,GSW,5,453,1010,449.00,63,34.2,...,5.5,5.8,1.2,0.1,482.00,421.00,916.00,9.0,201.00,2021
462,4,Giannis Antetokounmpo,26,MIL,1,348,1010,345.00,61,33.0,...,11.0,5.9,1.2,1.2,569.00,303.00,685.00,10.2,244.00,2021
463,5,Chris Paul,35,PHO,2,139,1010,138.00,70,31.4,...,4.5,8.9,1.4,0.3,499.00,395.00,934.00,9.2,201.00,2021
464,6,Luka Don?i?,21,DAL,0,42,1010,42.00,66,34.3,...,8.0,8.6,1.0,0.5,479.00,0.35,0.73,7.7,163.00,2021
465,7,Damian Lillard,30,POR,0,38,1010,38.00,67,35.8,...,4.2,7.5,0.9,0.3,451.00,391.00,928.00,10.4,209.00,2021
466,8,Julius Randle,26,NYK,0,20,1010,0.02,71,37.6,...,10.2,6.0,0.9,0.3,456.00,411.00,811.00,7.8,0.14,2021
467,9,Derrick Rose,32,TOT,1,10,1010,0.01,50,25.6,...,2.6,4.2,1.0,0.4,0.47,388.00,866.00,3.1,118.00,2021
468,10,Rudy Gobert,28,UTA,0,8,1010,8.00,71,30.8,...,13.5,1.3,0.6,2.7,675.00,0.00,623.00,11.3,248.00,2021
469,11,Russell Westbrook,32,WAS,0,5,1010,5.00,65,36.4,...,11.5,11.7,1.4,0.4,439.00,315.00,656.00,3.7,75.00,2021
470,12,Ben Simmons,24,PHI,0,3,1010,3.00,58,32.4,...,7.2,6.9,1.6,0.6,557.00,0.30,613.00,6.0,153.00,2021
471,13T,James Harden,31,TOT,0,1,1010,1.00,44,36.6,...,7.9,10.8,1.2,0.8,466.00,362.00,861.00,7.0,208.00,2021
472,13T,LeBron James,36,LAL,0,1,1010,1.00,45,33.4,...,7.7,7.8,1.1,0.6,513.00,365.00,698.00,5.6,179.00,2021
473,13T,Kawhi Leonard,29,LAC,0,1,1010,1.00,52,34.1,...,6.5,5.2,1.6,0.4,512.00,398.00,885.00,8.8,238.00,2021

In [6]:
display_both_head_and_tail(nicknames_df)

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

   Abbreviation                    Name
0           ATL           Atlanta Hawks
1           BRK           Brooklyn Nets
2           BKN           Brooklyn Nets
3           BOS          Boston Celtics
4           CHA       Charlotte Bobcats
5           CHH       Charlotte Hornets
6           CHO       Charlotte Hornets
7           CHI           Chicago Bulls
8           CLE     Cleveland Cavaliers
9           DAL        Dallas Mavericks
10          DEN          Denver Nuggets
11          DET         Detroit Pistons
12          GSW   Golden State Warriors
13          HOU         Houston Rockets
14          IND          Indiana Pacers
25          NYK         New York Knicks
26          OKC   Oklahoma City Thunder
27          ORL           Orlando Magic
28          PHI      Philadelphia 76ers
29          PHX            Phoenix Suns
30          PHO            Phoenix Suns
31          POR  Portland Trail Blazers
32          SEA     Seattle SuperSonics
33          SAC        Sacramento Kings
34          SAS       San Antonio Spurs
35          TOR         Toronto Raptors
36          UTA               Utah Jazz
37          VAN     Vancouver Grizzlies
38          WAS      Washington Wizards
39          WSB      Washington Bullets

In [19]:
display_both_head_and_tail(player_mvp_stats_df)
player_mvp_stats_df.isna().sum()
temp = (player_mvp_stats_df['FG'] - (player_mvp_stats_df['2P'] + player_mvp_stats_df['3P'])) > 0.100001
player_mvp_stats_df[temp]

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, Year, Pts Won, Pts Max, Share, Team, W, L, W/L%, GB, PS/G, PA/G, SRS]
Index: []

[0 rows x 41 columns]

In [8]:
display_both_head_and_tail(players_df)

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991
5,6,Danny Ainge,SG,31,POR,80,0,21.4,4.2,8.9,...,0.6,2,2.6,3.6,0.8,0.2,1.3,2.4,11.1,1991
6,7,Mark Alarie,PF,27,WSB,42,1,14,2.4,5.4,...,1,1.8,2.8,1.1,0.4,0.2,1,2.1,5.8,1991
7,8,Steve Alford,PG,26,DAL,34,0,6.9,1.7,3.4,...,0.3,0.4,0.7,0.6,0.2,0,0.5,0.3,4.4,1991
8,9,Greg Anderson,PF,26,TOT,68,2,13.6,1.7,4,...,1.4,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,1991
9,9,Greg Anderson,PF,26,MIL,26,0,9.5,1,2.8,...,1,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,1991
10,9,Greg Anderson,PF,26,NJN,1,0,18,4,4,...,4,2,6,1,2,0,1,4,8,1991
11,9,Greg Anderson,PF,26,DEN,41,2,16.1,2.1,4.7,...,1.6,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,1991
12,10,Nick Anderson,SG,23,ORL,70,42,28.2,5.7,12.2,...,1.3,4.2,5.5,1.5,1.1,0.6,1.6,2.1,14.1,1991
13,11,Ron Anderson,SF,32,PHI,82,13,28.5,6.2,12.9,...,1.3,3.2,4.5,1.4,0.8,0.2,1.2,2,14.6,1991
14,12,Willie Anderson,SG,24,SAS,75,75,34.6,6,13.2,...,0.9,3.8,4.7,4.8,1.1,0.6,2.2,3,14.4,1991
18029,529,D.J. Wilson,PF,24,MIL,12,0,8.8,1.3,3.6,...,0.3,1.8,2.1,0.3,0.1,0.3,0.3,1.1,3.6,2021
18030,529,D.J. Wilson,PF,24,HOU,23,1,14.3,2.3,5.4,...,0.7,3,3.8,0.9,0.4,0.5,0.8,1.3,6.1,2021
18031,530,Dylan Windler,SF,24,CLE,31,0,16.5,1.8,4.2,...,0.6,2.8,3.5,1.1,0.6,0.4,1,1.2,5.2,2021
18032,531,Justise Winslow,SF,24,MEM,26,1,19.5,2.8,8.1,...,0.7,3.8,4.5,1.9,0.6,0.5,1.4,1.8,6.8,2021
18033,532,Cassius Winston,PG,22,WAS,22,0,4.5,0.6,1.5,...,0,0.4,0.4,0.5,0.1,0,0.2,0.4,1.9,2021
18034,533,James Wiseman,C,19,GSW,39,27,21.4,4.9,9.4,...,1.4,4.4,5.8,0.7,0.3,0.9,1.5,3.1,11.5,2021
18035,534,Christian Wood,C,25,HOU,41,41,32.3,8,15.6,...,1.9,7.8,9.6,1.7,0.8,1.2,2,2.1,21,2021
18036,535,Robert Woodard II,SF,21,SAC,13,0,3.5,0.6,1.5,...,0.3,0.9,1.2,0.2,0,0.2,0.1,0.3,1.5,2021
18037,536,Delon Wright,SG-PG,28,TOT,63,39,27.7,3.8,8.2,...,1,3.2,4.3,4.4,1.6,0.5,1.3,1.2,10.2,2021
18038,536,Delon Wright,SG,28,DET,36,31,29.2,3.8,8.1,...,1,3.5,4.6,5,1.6,0.5,1.3,1.3,10.4,2021
18039,536,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,...,1,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10,2021
18040,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2,2.2,12.1,2021
18041,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
18042,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
18043,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9,2021

In [9]:
display_both_head_and_tail(salaries_df)

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

       Unnamed: 0              Name  Year    Salaries  Rank
0               1  Shaquille O'Neal  2000  17142000.0     1
1               2     Kevin Garnett  2000  16806000.0     2
2               3   Alonzo Mourning  2000  15004000.0     3
3               4      Juwan Howard  2000  15000000.0     4
4               5    Scottie Pippen  2000  14795000.0     5
5               6       Karl Malone  2000  14000000.0     6
6               7     Larry Johnson  2000  11910000.0     7
7               8       Gary Payton  2000  11020000.0     8
8               9   Rasheed Wallace  2000  10800000.0     9
9              10        Shawn Kemp  2000  10780000.0    10
10             11  Damon Stoudamire  2000  10125000.0    11
11             12   Antonio McDyess  2000   9900000.0    12
12             13         Ray Allen  2000   9000000.0    14
13             14    Antoine Walker  2000   9000000.0    14
14             15   Stephon Marbury  2000   9000000.0    14
37405       37406       Yante Maten  2019     77250.0   487
37406       37407   Duncan Robinson  2019     77250.0   487
37407       37408      Trevon Duval  2019     77250.0   487
37408       37409     Jared Terrell  2019     77250.0   487
37409       37410    Trevon Bluiett  2019     77250.0   487
37410       37411     Allonzo Trier  2019     77250.0   487
37411       37412     Deonte Burton  2019     77250.0   487
37412       37413       Tyler Davis  2019     77250.0   487
37413       37414      Troy Caupain  2019     77250.0   487
37414       37415      Shake Milton  2019     77250.0   487
37415       37416       George King  2019     77250.0   487
37416       37417      Drew Eubanks  2019     77250.0   487
37417       37418       Jordan Loyd  2019     77250.0   487
37418       37419    Wenyen Gabriel  2019     75000.0   512
37419       37420         Nuni Omot  2019     20000.0   513

In [10]:
display_both_head_and_tail(teams_df)

C:\Users\imman\AppData\Local\Temp\ipykernel_27784\3276194388.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return dataset.head(display_cnt).append(dataset.tail(display_cnt))

,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,56,26,683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,44,38,537,12,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,39,43,476,17,103.1,103.3,-0.43,1991,New York Knicks*
3,30,52,366,26,101.4,106.4,-4.84,1991,Washington Bullets
4,26,56,317,30,102.9,107.5,-4.53,1991,New Jersey Nets
5,24,58,293,32,101.8,107.8,-5.91,1991,Miami Heat
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991,Central Division
7,61,21,744,—,110,101,8.57,1991,Chicago Bulls*
8,50,32,0.61,11,100.1,96.8,3.08,1991,Detroit Pistons*
9,48,34,585,13,106.4,104,2.33,1991,Milwaukee Bucks*
10,43,39,524,18,109.8,109,0.72,1991,Atlanta Hawks*
11,41,41,0.5,20,111.7,112.1,-0.37,1991,Indiana Pacers*
12,33,49,402,28,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,26,56,317,35,102.8,108,-4.95,1991,Charlotte Hornets
14,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1991,Midwest Division
1018,42,30,583,10,116.1,114.3,1.81,2021,Portland Trail Blazers*
1019,23,49,319,29,112.1,117.7,-5.25,2021,Minnesota Timberwolves
1020,22,50,306,30,105,115.6,-10.13,2021,Oklahoma City Thunder
1021,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,2021,Pacific Division
1022,51,21,708,—,115.3,109.5,5.67,2021,Phoenix Suns*
1023,47,25,653,4,114,107.8,6.02,2021,Los Angeles Clippers*
1024,42,30,583,9,109.5,106.8,2.77,2021,Los Angeles Lakers*
1025,39,33,542,12,113.7,112.7,1.1,2021,Golden State Warriors
1026,31,41,431,20,113.7,117.4,-3.45,2021,Sacramento Kings
1027,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,2021,Southwest Division
1028,42,30,583,—,112.4,110.2,2.26,2021,Dallas Mavericks*
1029,38,34,528,4,113.3,112.3,1.07,2021,Memphis Grizzlies*
1030,33,39,458,9,111.1,112.8,-1.58,2021,San Antonio Spurs
1031,31,41,431,11,114.6,114.9,-0.2,2021,New Orleans Pelicans
1032,17,55,236,25,108.8,116.7,-7.5,2021,Houston Rockets