In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np
from scipy.stats import pearsonr

# Data Understanding

In [ ]:
mvps_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/mvps.csv",";")
nicknames_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/nicknames.csv",";")
player_mvp_stats_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/player_mvp_stats.csv",";")
players_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/players.csv",";")
salaries_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/salaries.csv")
teams_df = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/KASDD/Tugas Akhir nuweng/nba-kasddead/datasets/teams.csv",";")

Rank : urutan ranking mvp pada periode tahun berikut

Tm : Tim dari player

First : First Place Votes

Pts Won : Points Won

Pts Max : Max points

Share : Points Share

G : Games Played

MP : avg minutes per game

PTS : avg point per game

TRB : avg total rebound per game

AST : avg total assists per game

STL : avg steal per game

BLK : avg block per game

In [ ]:
display_cnt = 15
def display_both_head_and_tail(dataset):
    return dataset.head(display_cnt).append(dataset.tail(display_cnt))

In [ ]:
def cek_missing_values(df):
    col_na = df.isnull().sum().sort_values(ascending=False)
    percent = col_na / len(df)
    
    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data[missing_data['Total'] > 0]

Dataset mvps

In [ ]:
display_both_head_and_tail(mvps_df)

In [ ]:
mvps_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset mvps")
cek_missing_values(mvps_df)

In [ ]:
print("Jumlah duplikasi data pada dataset mvps:", mvps_df.duplicated().sum())

Dataset nicknames

In [ ]:
display_both_head_and_tail(nicknames_df)

In [ ]:
nicknames_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset nicknames")
cek_missing_values(nicknames_df)

In [ ]:
print("Jumlah duplikasi data pada dataset nicknames:", nicknames_df.duplicated().sum())

Dataset player mvp stats

In [ ]:
display_both_head_and_tail(player_mvp_stats_df)

In [ ]:
display_both_head_and_tail(player_mvp_stats_df)
player_mvp_stats_df.isna().sum()
temp = (player_mvp_stats_df['FG'] - (player_mvp_stats_df['2P'] + player_mvp_stats_df['3P'])) > 0.100001
player_mvp_stats_df[temp]

In [ ]:
player_mvp_stats_df.info()

In [ ]:
print("Terdapat missing values pada dataset player mvp stats")
cek_missing_values(player_mvp_stats_df)

In [ ]:
print("Missing values tersebut diisi dengan median setiap atribut")

player_mvp_stats_df["3P%"].fillna(player_mvp_stats_df["3P%"].median(), inplace=True)
player_mvp_stats_df["FT%"].fillna(player_mvp_stats_df["FT%"].median(), inplace=True)
player_mvp_stats_df["2P%"].fillna(player_mvp_stats_df["2P%"].median(), inplace=True)
player_mvp_stats_df["eFG%"].fillna(player_mvp_stats_df["eFG%"].median(), inplace=True)
player_mvp_stats_df["FG%"].fillna(player_mvp_stats_df["FG%"].median(), inplace=True)

In [ ]:
print("Sudah tidak ada missing value pada dataset palyer mvp stats")
cek_missing_values(player_mvp_stats_df)

In [ ]:
print("Jumlah duplikasi data pada dataset palyer mvp stats:", player_mvp_stats_df.duplicated().sum())

Dataset players

In [ ]:
display_both_head_and_tail(players_df)

In [ ]:
players_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset players")
cek_missing_values(players_df)

In [ ]:
print("Jumlah duplikasi data pada dataset mvps:", players_df.duplicated().sum(), "maka lakukan drop data terlebih dahulu")

players_df = players_df.drop_duplicates(inplace = False)
print("Jumlah duplikasi data setelah drop duplikasinya:", players_df.duplicated().sum())

In [ ]:
# Terdapat row yang berisi nama dari row tersebut
wrong_value = players_df.loc[players_df['Rk'] == 'Rk']
wrong_value

In [ ]:
# Drop data tersebut
players_df.drop(players_df.index[players_df['Rk'] == 'Rk'], inplace = True)

# Mengecek kembali keberadaan row yang sudah di drop
wrong_value = players_df.loc[players_df['Rk'] == 'Rk']
wrong_value

Dataset salaries

In [ ]:
display_both_head_and_tail(salaries_df)

In [ ]:
salaries_df.info()

In [ ]:
print("Terdapat missing values pada dataset salaries")
cek_missing_values(salaries_df)

In [ ]:
print("Missing values tersebut diisi dengan median setiap atribut")

salaries_df.Salaries.fillna(salaries_df.Salaries.median(), inplace=True)

In [ ]:
print("Sudah tidak ada missing value pada dataset salaries")
cek_missing_values(salaries_df)

Dataset teams

In [ ]:
display_both_head_and_tail(teams_df)

In [ ]:
teams_df.info()

In [ ]:
print("Tidak ditemukan missing value pada dataset teams")
cek_missing_values(teams_df)

In [ ]:
print("Jumlah duplikasi data pada dataset teams:", teams_df.duplicated().sum())

In [ ]:
teams_df = teams_df[~teams_df["W"].str.contains("Division")]

teams_df["Team"] = teams_df["Team"].str.replace("*", "", regex=False)

#Menghilangkan tanda * pada nama teams

In [ ]:
import seaborn as sb
import matplotlib.pyplot as plt

plt.figure(figsize=(30,30))

dataplot = sb.heatmap(mvps_df.corr(), cmap="YlGnBu", annot=True, )
  
# displaying heatmap
plt.show()

#1a. Apakah yang menjadi faktor utama (secara statistik) seorang pemain menjadi MVP?

In [ ]:
mvps_df["is_mvp"] = ''
display(mvps_df)

In [ ]:
mvps_df.loc[mvps_df["Rank"] == "1", "is_mvp"] = 1
mvps_df.loc[mvps_df["Rank"] != "1", "is_mvp"] = 0
display(mvps_df)

In [ ]:
mvps_df.info()

In [ ]:
X_raw = mvps_df.drop(["Rank", "Player", "Tm"],axis=1)
lst_column = X_raw.columns
y = mvps_df["is_mvp"]
X_raw = X_raw.drop(["is_mvp"],axis=1)

display(lst_column)

In [ ]:
from scipy.stats import pearsonr

for i in lst_column :
    if i != "is_mvp" :
        corr, _ = pearsonr(mvps_df[i], mvps_df["is_mvp"])
        if corr > 0.1 :
            print(i + " : " + str(corr))

Dengan melihat korelasi di atas diketahui bahwa terdapat 6 variable yang dapat menjadi faktor pemain menjadi MVP, yaitu First, Pts Won, Share, PTS, WS, WS/48

In [ ]:
rank_one = mvps_df.loc[mvps_df['Rank'] == '1']
display(rank_one.head())

In [ ]:
rank_one[['First', 'Pts Won', 'Share', 'PTS', 'WS', 'WS/48']].describe()

#1b. Apakah terdapat kenaikan rata-rata gaji pemain dari tahun 2000 - 2019?

In [ ]:
df_salaries_year = salaries_df.groupby("Year")["Salaries"].mean().reset_index()
df_salaries_year = df_salaries_year.astype({"Year":'category'})

In [ ]:
axes = plt.gca()
df_salaries_year.set_index('Year', inplace=True)
df_salaries_year.plot(kind="line", y="Salaries", ax=axes)

Dengan melihat grafik di atas diketahui bahwa secara garis besar terdapat perumbuhan gaji dari 2000 - 2019. Pertumbuhan gaji naik secara signifikan pada rentang 2015 - 2019

#1c. Apakah kemenangan dari suatu tim dapat dikorelasikan dengan suatu variabel tertentu?

In [ ]:
display(teams_df.head())

In [ ]:
display(players_df)

In [ ]:
temp_player_df = players_df.copy()
temp_player_df = temp_player_df.drop(["Rk", "Player", "Pos"],axis=1)
lst_column_temp_player = temp_player_df.columns


for i in lst_column_temp_player :
    if i != "Tm" :
        temp_player_df[i] = pd.to_numeric(temp_player_df[i], errors='coerce')

In [ ]:
data_player_groupby_team_and_year = temp_player_df.groupby(['Tm','Year']).mean().reset_index()
display(data_player_groupby_team_and_year.head())

In [ ]:
arr_init_name = nicknames_df['Abbreviation'].values

for i in arr_init_name : 
    val_real_team_name = nicknames_df['Name'].loc[nicknames_df['Abbreviation'] == i].values
    data_player_groupby_team_and_year.loc[data_player_groupby_team_and_year["Tm"] == i, "Tm"] = val_real_team_name[0]

In [ ]:
data_player_groupby_team_and_year.rename(columns = {'Tm':'Team' }, inplace = True)

teams_col = teams_df.columns
for i in teams_col :
    if i != "Team" :
        teams_df[i] = pd.to_numeric(teams_df[i], errors='coerce')

temp_teams = teams_df.groupby("Year").mean().reset_index()
year = temp_teams['Year'].values

d = {"score" : []}
temp_pd = pd.DataFrame(data = d)
for i in year :
    val =  temp_teams['GB'].loc[temp_teams['Year'] == i].values
    temp = teams_df['GB'].loc[teams_df["Year"] == i].fillna(val[0])
    temp_pd = pd.concat([temp_pd, temp])

# del temp_pd["score"]
teams_df["GB"] = temp_pd[0]
display(teams_df)

       W   L   W/L%         GB   PS/G   PA/G   SRS  Year                  Team
0     56  26  683.0  20.956522  111.5  105.7  5.22  1991        Boston Celtics
1     44  38  537.0  12.000000  105.4  105.6 -0.39  1991    Philadelphia 76ers
2     39  43  476.0  17.000000  103.1  103.3 -0.43  1991       New York Knicks
3     30  52  366.0  26.000000  101.4  106.4 -4.84  1991    Washington Bullets
4     26  56  317.0  30.000000  102.9  107.5 -4.53  1991       New Jersey Nets
...   ..  ..    ...        ...    ...    ...   ...   ...                   ...
1028  42  30  583.0  13.541667  112.4  110.2  2.26  2021      Dallas Mavericks
1029  38  34  528.0   4.000000  113.3  112.3  1.07  2021     Memphis Grizzlies
1030  33  39  458.0   9.000000  111.1  112.8 -1.58  2021     San Antonio Spurs
1031  31  41  431.0  11.000000  114.6  114.9 -0.20  2021  New Orleans Pelicans
1032  17  55  236.0  25.000000  108.8  116.7 -7.50  2021       Houston Rockets

[906 rows x 9 columns]

In [ ]:
new_data = pd.merge(data_player_groupby_team_and_year, teams_df)

In [ ]:
lst_column = new_data.columns

for i in lst_column :
    if i != "Team" and i != "Year" and i != "W":
        corr, _ = pearsonr(new_data[i], new_data["W"])
        if corr > 0.1 :
            print(i + " : " + str(corr))

Age : 0.4428020696491195
G : 0.3996209399493929
GS : 0.3651750357548144
FG% : 0.12783300867285427
3P% : 0.12018030872938029
2P% : 0.10292221361507646
eFG% : 0.11459375970752983
W/L% : 0.592452417360374
PS/G : 0.3280766228384861
SRS : 0.932136748388367

Dari hasil menggabungkan teams dan playerdata yang akhirnya mendapatkan banyak variable penilaian. Setelah dicek variable-variable yang ada dengan jumlah kemenangannya diketahui bahwa yang memiliki korelasi paling tinggi adalah dengan jumlah kemenangan adalah SRS (Simple Rating System). Namun, seperti yang kita ketahui bahwa SRS didapatkan dari persentase kemanangannya. Apabila dilihat dari komposisi pemainya beberapa varaibel yang bisa dijadikan acuan adalah  PS/G (passing per game), G (Game played), GS (Game started), FG% (Field Goal Percentage), 3P% (3 Point Field Goal Percentage), 2P% (2 Point Field Goal Percentage) dan eFG% (Effective Field Goal Percentage)

In [ ]:
new_data['W/L%'] = new_data['W']/(new_data['W']+new_data['L'])*100
new_data['W-L'] = abs(new_data['W']-new_data['L'])/abs(new_data['W']+new_data['L'])*100
display(new_data['W/L%'])
# new_data.to_excel("new_data.xlsx")
display(new_data['W-L'])

0      52.439024
1      46.341463
2      52.439024
3      69.512195
4      51.219512
         ...
901    26.829268
902    29.268293
903    25.609756
904    47.560976
905    53.658537
Name: W/L%, Length: 906, dtype: float64

0       4.878049
1       7.317073
2       4.878049
3      39.024390
4       2.439024
         ...
901    46.341463
902    41.463415
903    48.780488
904     4.878049
905     7.317073
Name: W-L, Length: 906, dtype: float64

In [ ]:
new_data_two = new_data.groupby('Year')['W-L'].mean().reset_index()
display(new_data_two[new_data_two['W-L'] == new_data_two['W-L'].min()])

    Year        W-L
16  2007  20.813008

Dengan melihat evaluasi di atas, didapatkan lah bahwa 2007 memiliki tahun yang paling kompetitif karena perbedaan nilai win losenya sangat sedikit