In [2]:
import pandas as pd
import numpy as np

In [7]:
salaries = pd.read_csv('datasets/salaries.csv')

salaries.loc[salaries['Year'] == 2000, 'Salaries'] = salaries['Salaries'] * 1.48
salaries.loc[salaries['Year'] == 2001, 'Salaries'] = salaries['Salaries'] * 1.44
salaries.loc[salaries['Year'] == 2002, 'Salaries'] = salaries['Salaries'] * 1.42
salaries.loc[salaries['Year'] == 2003, 'Salaries'] = salaries['Salaries'] * 1.39
salaries.loc[salaries['Year'] == 2004, 'Salaries'] = salaries['Salaries'] * 1.35
salaries.loc[salaries['Year'] == 2005, 'Salaries'] = salaries['Salaries'] * 1.31
salaries.loc[salaries['Year'] == 2006, 'Salaries'] = salaries['Salaries'] * 1.27
salaries.loc[salaries['Year'] == 2007, 'Salaries'] = salaries['Salaries'] * 1.23
salaries.loc[salaries['Year'] == 2008, 'Salaries'] = salaries['Salaries'] * 1.19
salaries.loc[salaries['Year'] == 2009, 'Salaries'] = salaries['Salaries'] * 1.19
salaries.loc[salaries['Year'] == 2010, 'Salaries'] = salaries['Salaries'] * 1.17
salaries.loc[salaries['Year'] == 2011, 'Salaries'] = salaries['Salaries'] * 1.14
salaries.loc[salaries['Year'] == 2012, 'Salaries'] = salaries['Salaries'] * 1.11
salaries.loc[salaries['Year'] == 2013, 'Salaries'] = salaries['Salaries'] * 1.10
salaries.loc[salaries['Year'] == 2014, 'Salaries'] = salaries['Salaries'] * 1.08
salaries.loc[salaries['Year'] == 2015, 'Salaries'] = salaries['Salaries'] * 1.08
salaries.loc[salaries['Year'] == 2016, 'Salaries'] = salaries['Salaries'] * 1.07
salaries.loc[salaries['Year'] == 2017, 'Salaries'] = salaries['Salaries'] * 1.04
salaries.loc[salaries['Year'] == 2018, 'Salaries'] = salaries['Salaries'] * 1.02



del salaries['Unnamed: 0']

display(salaries.head())

salaries.to_csv('final_salaries.csv', index=False)

               Name  Year    Salaries  Rank
0  Shaquille O'Neal  2000  25370160.0     1
1     Kevin Garnett  2000  24872880.0     2
2   Alonzo Mourning  2000  22205920.0     3
3      Juwan Howard  2000  22200000.0     4
4    Scottie Pippen  2000  21896600.0     5