In [32]:
import numpy as np
import pandas as pd

In [33]:
pw_avg_gamescore_df = pd.read_csv("datasets/player_with_avg_gamescore.csv")
final_salaries_df = pd.read_csv("datasets/final_salaries.csv")

In [38]:
# ambil player dari tahun 2000-2019
pw_avg_gamescore_df = pw_avg_gamescore_df.loc[(pw_avg_gamescore_df['Year'] >= 2000) & (pw_avg_gamescore_df['Year'] <= 2019)]

# merge player_with_avg_gamescore dan final_salaries
combined_data_df = pw_avg_gamescore_df.merge(final_salaries_df, left_on=["Rk", "Player", "Year"], 
                                             right_on=["Rank", "Name", "Year"], how='outer')
combined_data_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,STL,BLK,TOV,PF,PTS,Year,Avg GameScore,Name,Salaries,Rank
0,1.0,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,25.9,4.5,10.6,...,1.0,0.5,1.7,2.4,11.4,2000,7.39,NaN,NaN,NaN
1,1.0,Tariq Abdul-Wahad,SG,25.0,ORL,46.0,46.0,26.2,4.8,11.2,...,1.2,0.3,1.9,2.5,12.2,2000,7.83,NaN,NaN,NaN
2,1.0,Tariq Abdul-Wahad,SG,25.0,DEN,15.0,10.0,24.9,3.4,8.7,...,0.4,0.8,1.3,2.1,8.9,2000,5.59,NaN,NaN,NaN
3,2.0,Shareef Abdur-Rahim,SF,23.0,VAN,82.0,82.0,39.3,7.2,15.6,...,1.1,1.1,3.0,3.0,20.3,2000,15.83,NaN,NaN,NaN
4,3.0,Cory Alexander,PG,26.0,DEN,29.0,2.0,11.3,1.0,3.4,...,0.8,0.1,1.0,1.3,2.8,2000,2.06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,NaN,George King,77250.0,487.0
48977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,NaN,Drew Eubanks,77250.0,487.0
48978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,NaN,Jordan Loyd,77250.0,487.0
48979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,NaN,Wenyen Gabriel,75000.0,512.0
48980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,NaN,Nuni Omot,20000.0,513.0